.canvas-container {
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: rgb(225, 227, 235);
}
.grid-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgb(245, 245, 246);
}

.grid {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(to right, rgba(10, 10, 9, 0.05) 0px 1px, transparent 1px 40px), repeating-linear-gradient(to bottom, rgba(10, 10, 9, 0.05) 0px 1px, transparent 1px 8px);
}
